future>=1.0.0
rdflib[sparql]==4.2.2
intervaltree
pyyaml
tzlocal>=2.1
html5lib>=1.0.1
python-dateutil>=2.8.0
pybindgen
hexdump
pynacl
pycryptodome
pycryptoplus
aes-keywrap
passlib
cryptography
expiringdict
lz4

# Optional dependencies
#python-snappy          # required for snappy compression
#fastchunking>=0.0.3    # required for Rabin-Karp hash-based logical stream
#google-cloud-storage   # required to use GCS as a storage backend
